Welcome to big commerce authantication app

<%= link_to "BigCommerce", "/auth/bigcommerce" %>

<br>
<% if flash[:error] -%>
<br>
  Response arrived: <br><br><p class='error'><%=h flash[:error] %></p>
  <br>
  Response expected:<br><br>
  {"code"=>"31d75dwoa9ubzrs03dclj2pz1lum4la",
 "context"=>"stores/fn4c7",
 "scope"=>
  "store_v2_orders store_v2_products store_v2_customers store_v2_content store_v2_marketing store_v2_information_read_only users_basic_information store_v2_default",
 "controller"=>"home",
 "action"=>"after_authantication_create",
 "provider"=>"bigcommerce"}
<% end -%>
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>
